<footer class="footer__block">
    <div class="container">
        <div class="footer__platform">
            <div class="footer__platform-text">
                <h3 class="subtitle">Единая платформа - максимум эфективности</h3>
                <p class="text__description">Забудьте о множестве сервисов и приложений</p>
            </div>
            <div class="footer__platform-img">
                <button class="button form__btn-sent" type="button">Получить
                    консультацию</button>
                <img data-speed="10" class="layer" src="img/footer_img.png" alt="logo">
            </div>

        </div>
        <nav class="footer">
            <div class="footer_logo">
                <a id="footer__logo" class="footer__logo" href="#">
                    <img src="img/footer_logo.png" alt="logo">
                </a>
            </div>
            <div class="footer__contacts">
                <ul class="footer__menu-list footer__menu-contacts">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="tel:+74954142808">+7 (495) 414 28 08</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="mailto:b24@bitroid.ru">b24@bitroid.ru</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="https://yandex.ru/maps/?rtext=~56.119674%2C47.181890"
                            target="_blank">428038, Чувашская республика, г. Чебоксары, ул. Мате Залка, д 10, офис
                            1</a>
                    </li>
                </ul>
                <div class="social">
                    <a class="social__link" href="https://vk.ru" target="_blank">
                        <img src="img/icon_vk.svg">
                    </a>
                    <a class="social__link" href="https://t.me/+74954142808" target="_blank">
                        <img src="img/icon_tg.svg">
                    </a>
                    <a class="social__link" href="https://youtube.com" target="_blank">
                        <img src="img/icon_yt.svg">
                    </a>
                </div>
            </div>
            <div class="footer__menu-nav">
                <ul class="footer__menu-list footer__menu-list-nav">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">О компании</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Отзывы</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Новости</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Статьи</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Акции</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Вопрос-ответ</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Оплата</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-service">
                <ul class="footer__menu-list footer__menu-list-service">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Внедрение CMR</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Создание сата</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Перенос сайта</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Поддержка сайта</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Решения для государственных организаций</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Обучение</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Автоматизация</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Интеграция и настройка</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-products">
                <ul class="footer__menu-list footer__menu-list-product">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">1C Битрикс лицензия</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Продление лицензии</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-ofer">
                <ul class="footer__menu-list footer__menu-list-ofer">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Для партнеров</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Вакансии</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu-info">
                <ul class="footer__menu-list footer__menu-list-info">
                    <li class="footer__menu-item">
                        <p class="footer__menu-text">ОГРН 0000000000000</p>
                    </li>
                    <li class="footer__menu-item">
                        <p class="footer__menu-text">ИНН 0000000000</p>
                    </li>
                    <li class="footer__menu-item">
                        <p class="footer__menu-text">КПП 000000000</p>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="footer__copyright">
            <div class="copyright">
                <ul>
                    <li>
                        <p class="footer__copyright-text">2026&copy;Bitroid</p>
                    </li>
                    <li>
                        <p class="footer__copyright-text">Все права защищены</p>
                    </li>
                </ul>
            </div>
            <div class="footer__policy">
                <ul>
                    <li>
                        <a class="footer__menu-link" href="#">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a class="footer__menu-link" href="#">Пользовательское соглашение</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="screen_content-back">
            <span class="screen_content-back_1"></span>
            <span class="screen_content-back_2"></span>
        </div>

        <a class="back-to-top" href="#"></a>

    </div>
</footer>




<script src="js/jquery.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>