<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Создание сайта под ключ с SEO-продвижением">
    <meta name="keywords"
        content="битроид, bitroid, системный интегратор, внедрение CRM Битрикс24, стоимость внедрения crm, разработка сайта, создание сайта, создать сайт, seo продвижение, интеграция с 1С , продвинуть сайт, продвижение сайта, разработка приложений">
    <meta property="og:title" content="Создание сайта под ключ - Bitroid" />
    <meta property="og:description"
        content="Автоматизация бизнес-процессов,создание сайтов,внедрение CRM Битрикс24,разработка мобильных приложений и поддержка it-инфраструктуры. Лучшее решение Ваших задач - Битроид!" />
    <!-- <meta property="og:site_name" content="Bitroid" /> -->
    <meta property="og:image" content="img/logo.png" />

    <title>Создание сайта под ключ с SEO-продвижением</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/media.css">


    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Битроид" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__inner-logo">
                    <a class="header__inner-logo_link" href="index.html">
                        <img src="img/logo.png" alt="logo_header">
                    </a>
                </div>
                <nav class="header__inner-header__menu">
                    <ul class="header__inner-header__menu-list">
                        <li class="header__menu-item">
                            <p class="header__menu-link">Услуги</p>
                            <ul class="dropdown__content-list">
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Услуга 1</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Услуга 2</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Услуга 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <p class="header__menu-link">Продукты</p>
                            <ul class="dropdown__content-list">
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Продукт 1</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Продукт 2</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Продукт 3</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Продукт 4</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Продукт 5</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <p class="header__menu-link">Готовые решения</p>
                            <ul class="dropdown__content-list">
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Решение 1</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Решение 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <p class="header__menu-link">Кейсы и проекты</p>
                            <ul class="dropdown__content-list">
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Кейс 1</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Кейс 2</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Кейс 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <p class="header__menu-link">О нас</p>
                            <ul class="dropdown__content-list">
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Гарантии</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">О компании</a>
                                </li>
                                <li class="dropdown__content-list-item">
                                    <a class="dropdown__content-list-link" href="#">Контакты</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="header__contacts">
                    <div class="header__contacts-tel">
                        <a class="header__phone" href="tel:+74954142808">+7 (495) 414 28 08</a>
                    </div>
                    <div class="header__contacts-search">
                        <div class="header__contacts-search_svg-box">
                            <svg class="header__contacts-search_svg">
                                <use xlink:href="sprite-icon.svg#header__search"></use>
                            </svg>
                        </div>
                        <div class="search">
                            <div id="search-menu" class="search_box">
                                <input class="search_txt" type="search" name="" placeholder="Поиск">
                                <a class="search_btn" href="#"></a>
                            </div>
                        </div>

                    </div>
                    <div class="header__button">
                        <button id="header__btn" class="button" type="button">Обсудить проект</button>
                    </div>

                    <div id="burger__menu-icon" class="burger__menu-icon-inner">
                        <div class="burger__menu-icon"></div>
                    </div>

                    <div class="burger__menu-body">
                        <nav class="burger__menu">
                            <ul class="burger__menu-list">
                                <li class="burger__menu-item">
                                    <a class="burger__menu-link" href="#">Услуги</a>
                                </li>
                                <li class="burger__menu-item">
                                    <a class="burger__menu-link" href="#">Продукты</a>
                                </li>
                                <li class="burger__menu-item">
                                    <a class="burger__menu-link" href="#">Готовые решения</a>
                                </li>
                                <li class="burger__menu-item">
                                    <a class="burger__menu-link" href="#">Кейсы и проекты</a>
                                </li>
                                <li class="burger__menu-item">
                                    <a class="burger__menu-link" href="#">О нас</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="burger__menu-bg"></div>
                </div>
            </div>
        </div>
    </header>